<nav class="navbar navbar-expand-xl navbar-light bg-white border-bottom shadow-sm py-2 px-xl-5">
  <div class="container-fluid">

    <!-- BRAND LOGO -->
    <a class="navbar-brand d-flex align-items-center me-4" href="#">
    <img src="assets/logo.png" alt="Crimexgug Logo"
        class="defy-logo img-fluid" />
    </a>

    <!-- MOBILE TOGGLER -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#defyNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- COLLAPSIBLE CONTENT -->
    <div class="collapse navbar-collapse" id="defyNavbar">

      <!-- NAVIGATION LINKS -->
      <ul class="navbar-nav defy-nav-links ms-xl-auto mb-2 mb-xl-0 align-items-xl-center text-center">

        <!-- Our Story Dropdown -->
        <li class="nav-item dropdown px-xl-2">
          <a class="nav-link dropdown-toggle text-dark defy-link" href="#" id="storyDropdown" role="button"
            data-bs-toggle="dropdown">
            Our&nbsp;Story
          </a>
          <ul class="dropdown-menu defy-dropdown-menu border-0 shadow" aria-labelledby="storyDropdown">
            <li><a class="dropdown-item" href="#">Our&nbsp;Story</a></li>
            <li><a class="dropdown-item" href="#">Our&nbsp;Results</a></li>
            <li><a class="dropdown-item" href="#">Our&nbsp;Programs</a></li>
          </ul>
        </li>

        <!-- Our Community Dropdown -->
        <li class="nav-item dropdown px-xl-2">
          <a class="nav-link dropdown-toggle text-dark defy-link" href="#" id="communityDropdown" role="button"
            data-bs-toggle="dropdown">
            Our&nbsp;Community
          </a>
          <ul class="dropdown-menu defy-dropdown-menu border-0 shadow" aria-labelledby="communityDropdown">
            <li><a class="dropdown-item" href="#">Careers</a></li>
            <li><a class="dropdown-item" href="#">Funders</a></li>
            <li><a class="dropdown-item" href="#">Graduates</a></li>
            <li><a class="dropdown-item" href="#">Locations</a></li>
            <li><a class="dropdown-item" href="#">Partners</a></li>
            <li><a class="dropdown-item" href="#">Team</a></li>
            <li><a class="dropdown-item" href="#">Governing&nbsp;Board</a></li>
          </ul>
        </li>

        <!-- Take Action Dropdown -->
        <li class="nav-item dropdown px-xl-2">
          <a class="nav-link dropdown-toggle text-dark defy-link" href="#" id="actionDropdown" role="button"
            data-bs-toggle="dropdown">
            Take&nbsp;Action
          </a>
          <ul class="dropdown-menu defy-dropdown-menu border-0 shadow" aria-labelledby="actionDropdown">
            <li><a class="dropdown-item" href="#">Donate</a></li>
            <li><a class="dropdown-item" href="#">Volunteer</a></li>
            <li><a class="dropdown-item" href="#">Employ</a></li>
            <li><a class="dropdown-item" href="#">Sponsor</a></li>
            <li><a class="dropdown-item" href="#">Contact Us</a></li>
          </ul>
        </li>

        <li class="nav-item px-xl-2">
          <a class="nav-link text-dark defy-link" href="#">Press</a>
        </li>
        <li class="nav-item px-xl-2">
          <a class="nav-link text-dark defy-link" href="#">Blog</a>
        </li>

        <!-- Shop Dropdown -->
        <li class="nav-item dropdown px-xl-2">
          <a class="nav-link dropdown-toggle text-dark defy-link" href="#" id="shopDropdown" role="button"
            data-bs-toggle="dropdown">
            Shop
          </a>
          <ul class="dropdown-menu defy-dropdown-menu border-0 shadow" aria-labelledby="shopDropdown">
            <li><a class="dropdown-item" href="#">EIT Businesses</a></li>
            <li><a class="dropdown-item" href="#">Defy Merch</a></li>
          </ul>
        </li>
      </ul>

      <div class="d-flex defy-cta-group ms-xl-4 align-items-center justify-content-center">
        <a href="#" class="btn btn-defy-dark me-2">EITs Click Here</a>
        <a href="#" class="btn btn-defy-orange me-2">Donate</a>
        <a href="#" class="btn btn-defy-orange">Volunteer</a>
      </div>

    </div>
  </div>
</nav>